@model BankLoansManagement.ViewModels.UserLoanViewModel
@using BankLoansManagement.Helpers
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(Model.UserId == -1)
            {
              <div class="form-group">
                  <label asp-for="ClientFirstName" class="control-label"></label>
                  <input asp-for="ClientFirstName" class="form-control" />
                  <span asp-validation-for="ClientFirstName" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="ClientLastName" class="control-label"></label>
                  <input asp-for="ClientLastName" class="form-control" />
                  <span asp-validation-for="ClientLastName" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="ClientIdNumber" class="control-label"></label>
                  <input asp-for="ClientIdNumber" class="form-control" />
                  <span asp-validation-for="ClientIdNumber" class="text-danger"></span>
              </div>
            }
            <input asp-for="UserId" value="@Model.UserId" hidden/>
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanTerm" class="control-label"></label>
                <input asp-for="LoanTerm" class="form-control" />
                <span asp-validation-for="LoanTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanInterestRate" class="control-label"></label>
                <input asp-for="LoanInterestRate" class="form-control" />
                <span asp-validation-for="LoanInterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanType" class="control-label"></label>
                <select asp-for="LoanType" class="form-control">
                  <option id="@EnumsHelpers.LoanType.Personal">@EnumsHelpers.GetDisplayName(EnumsHelpers.LoanType.Personal)</option>
                  <option id="@EnumsHelpers.LoanType.Vehicle">@EnumsHelpers.GetDisplayName(EnumsHelpers.LoanType.Vehicle)</option>
                  <option id="@EnumsHelpers.LoanType.Home">@EnumsHelpers.GetDisplayName(EnumsHelpers.LoanType.Home)</option>
                </select>
                <span asp-validation-for="LoanType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
