@model BankLoansManagement.ViewModels.UserLoanViewModel

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
  <input type="button" class="btn btn-success" value="Create new loan" onclick="window.location='@Url.Action("Create", "Loans")'" />
</p>

<form asp-controller="Loans" asp-action="Index" method="get">
  <div class="row">
    <div class="col-md-3">
      <input type="text" placeholder="Enter loan type" name="searchString" class="form-control text-dark border-dark">
    </div>
    <div class="col-md-3">
      <input type="submit" class="btn btn-primary" value="Search" style="margin:0; height:auto" />
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>
        Amount
      </th>
      <th>
        Term in Months
      </th>
      <th>
        Interest Rate
      </th>
      <th>
        Loan Type
      </th>
      <th>
        Total Amount
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.userLoans)
    {
      <tr>
        <td>
          R @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Term)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.InterestRate) %
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
          R @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
